// Global
:root {
  --light: #e6cbc9;
  --medium: #344767;
  --dark: #1d1d1d;
  --white: #e1e1e1;
}

body {
  box-sizing: border-box;
  color: var(--white);
  line-height: 1.8;
  background-color: var(--dark);
  font-family: montserrat, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: center;
  position: relative;
}

h1,
.h1 {
  line-height: 1em;
  font-weight: 400;
  font-size: 60px;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  @media only screen and (max-width: 650px) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 22px;
  margin: 0 0 0.5em;

  @media only screen and (max-width: 650px) {
    font-size: 18px;
  }
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0.5em;

  @media only screen and (max-width: 650px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: var(--light);
  transition: color 0.4s;
  position: relative;
  white-space: nowrap;

  span {
    position: absolute;
    left: 2000000px;
    opacity: 0;
    font-size: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    position: absolute;
    height: 1px;
    background-color: var(--light);
    transition: width 0.2s ease-in-out;
    left: 0;
  }

  &:hover,
  &:focus {
    color: var(--white);
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &:focus {
    outline: 2px solid var(--medium);
  }
  &:active {
    color: var(--medium);
  }
}

//Homepage
main {
  min-height: 100dvh;
  display: flex;
  align-items: center;

  // &::after {
  //   content: "";
  //   display: block;
  //   position: fixed;
  //   inset: 0;
  //   z-index: 1;
  //   pointer-events: none;
  //   // background-image: url('./papier.jpg');
  //   mix-blend-mode: overlay;
  //   background-size: cover;
  // }
}

.card {
  margin: auto;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  position: relative;
}

.text {
  text-wrap: pretty;
  max-width: 74ch;
  margin: 20px auto 40px;
  text-align: left;
  font-size: 20px;
  position: relative;

  @media only screen and (max-width: 650px) {
    font-size: 18px;
  }
}

.socialList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socialListItem {
  margin: 0 10px 0 0;

  a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: 0.4;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: var(--dark);
    }

    &::after {
      display: none;
    }
  }

  img {
    display: block;
    width: 70%;
  }
}
